.shop {
  padding-top: 95px;
  padding-bottom: 110px;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -330px;
    bottom: auto;
    left: 0;
    right: 0;
    height: 984px;
    z-index: -1;
    background: url("../img/bg/bg-lines.png") repeat-y center,
                url("../img/bg/bg-water.jpg") no-repeat center/cover;
  }
}

.shop-slider-wrapper {
  height: 565px;
  margin-bottom: 80px;
  position: relative;
}

.shop-slider-special-holder {
  position: absolute;
  left: 0;
  right: -85px;
}

.shop-slider {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

#shopSlider.owl-carousel .owl-item img {
  width: auto;
}

.board {
  position: relative;
  width: 350px;
  height: 435px;
  margin-top: 130px;

}

.shop-slider-controls {
  position: relative;
}

.shop-slider-arrow {
  width: 40px;
  height: 48px;
  padding: 15px;
  position: absolute;
  z-index: 9;
  cursor: pointer;
  bottom: calc(140px + 80px);

  img {
    vertical-align: top;
  }
}

.shop-slider-left {
  left: -70px;
  transform: translate(-100%,0);
}

.shop-slider-right {
  right: -70px;
  transform: translate(100%,0);
}

.board__img-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 320px;
  background-color: #ececec;
}

.board__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.shop-link-wrapper {
  display: flex;
  justify-content: center;
}

.board-desc {
  width: 210px;
  position: absolute;
  top: 196px;
  left: 216px;
}

.board__category {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #7a7a7a;
}

.board__title {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  line-height: 1.08;
  letter-spacing: 0.26px;
  color: #333333;
}

.board-buy {
  margin-top: 38px;
  margin-left: 55px;
}

.board-buy__price {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
  color: #ce60a8;
  margin-bottom: 3px;
}

.board-buy__link {
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 5.4px;
  text-transform: uppercase;
  color: #333333;
  margin-left: 4px;
}


